@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import "./partials/colori";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=VT323&display=swap");

@import "./partials/body";
@import "./partials/logo";
@import "./partials/navbar";
@import "./partials/h";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/main";
