$celeste: rgba(191, 252, 255, 1);
$light-cyan: rgba(223, 255, 250, 1);
$pink-lace: rgb(255, 245, 253);
$uranian-blue: rgb(135, 183, 213);
$mauve: rgba(229, 198, 255, 1);
$red-violet-crayola: #3951dc;
