h1 {
  color: $red-violet-crayola;
  font-size: 3.5em;
}
h2 {
  color: $red-violet-crayola;
  font-size: 2em;
}
p {
  font-size: 0.7em;
}

span {
  font-size: 0.7em;
  color: gray;
}
h5 {
  font-size: 1.3em;
  line-height: 0.6;
}
