body {
  background-color: $light-cyan;
  background-image: url("/assets/immagini/background.png");
  background-size: 150vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 100px;
}
