body {
  background-color: grey;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2em;
  position: relative;
  background-image: url(/assets/immagini/background-L0sPc5ROD-transformed.png);

  ul {
    padding: 0;
    li {
      list-style-type: none;
      padding-left: 0;
    }
  }
}
